.profileImage {
    width: 100%;
    img {
        width: 100%;
        border-radius: 50%;
    }
}

.textAlignCenter {
    text-align: center;
    font-size: 14px;
}

p {
    margin: 0 0 1em;
}

a {
    color: rgb(213, 70, 70);
}