.width95 {
    width: 95%;
}
.cardContainer {
    margin-bottom: 1em;
    mat-card {
        width: 100%;
        height: 200px;
        padding: 5px;
    }
}
.logo {
    width: 60%;
    margin: 0 auto;
    img {
        width: 100%;
        height: 75px;
    }
}
.description {
    text-align: center;
    font-size: 14px;
    p {
        margin: 0 0 1em;
    }
}
.link {
    text-align: center;
    a {
        color: black;
    }
}
.wrap {
    flex-wrap: wrap;
    overflow-y: auto;
    padding-top: 2em;
}
