<div fxLayout="row" fxFill fxLayoutAlign="start stretch">
    <div fxLayout="column" fxFlex="60" fxLayoutAlign="center center">
        <h1>Tukiso Mateka</h1>
        <h3>MEAN Stack Developer</h3>

        <div fxLayout="row" fxLayoutAlign="center center" class="fullWidth">
            <div fxLayout="column" fxFlex="40" fxLayoutAlign="start stretch">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxFlex="48" fxLayoutAlign="start stretch">
                        <button mat-raised-button color="primary" routerLink="/home/portfolio">Portfolio</button>
                    </div>
                    <div fxLayout="column" fxFlex="48" fxLayoutAlign="start stretch">
                        <button mat-raised-button routerLink="/home/contact">Contact Me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="40" fxLayoutAlign="start stretch">
        <img src="../../assets/lapaWithLaptop.png" alt="Seating at the Lapa with my laptop">
    </div>
</div>