.fullWidth {
    width: 100%;
}
h1 {
    font-size: 4em;
    margin: 0;
}
h3 {
    margin-top: 0;
}
img {
    height: 100%;
    -moz-box-shadow: inset 10px 10px 50px grey;
    -webkit-box-shadow: inset 10px 10px 50px grey;
    box-shadow: inset 10px 10px 50px grey;
}
